
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	  monospace;
  }
  .App {
	display: grid;
	place-items: center;
	height: 100vh;
  }
  h1 {
	margin: 0;
  }
  .board {
	position: relative;
	padding: 0;
  }
  .tile {
	position: absolute;
	list-style: none;
	background: #a731ca;
	display: grid;
	place-items: center;
	font-size: 20px;
  }

  .buttonP {
    cursor: pointer;
    border: 1px solid #75088e;
    background-color: transparent;
    min-height: 9vh;
    min-width: 30vh;
    height: auto;
    width: auto;
    color: #75088e;
    font-size: 2em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    font-family: "fantasy";
}



.buttonP:hover{
    background-color: #75088e; 
    color: white;
}
  


.heart {
	fill: #75088e;
	top: 2px;
	width: 20px;
	animation: pulse 1s ease infinite, 
  }
  
  @keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.3); }
	100% { transform: scale(1); }
}

	.box1 { 
		font-family: "fantasy"; 
		color: #aa60b1; 
		font-size: 18px; 
		font-weight: 1000; 
		text-align: center; 
		background-color: transparent;
		margin: 0 0 25px; 
		overflow: hidden; 
		padding: 20px; 
		border-radius: 35px 0px 35px 0px; 
		-moz-border-radius: 35px 0px 35px 0px; 
		-webkit-border-radius: 35px 0px 35px 0px; 
		border: 2px solid #75088e;}

		




